.vermelho{
    width: 250px;
    display: inline-block;
}

.vermelho > span {
    background-color: red;
    color: #fff;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
}
/************************************************************/
/* altera a cor do range para vermelho no navegador Firefox*/
.vermelho > input::-moz-range-progress {
    background-color: red;
}
/*altera a cor do range para vermelho no navegador Firefox*/
/************************************************************/

.verde{
    width: 250px;
    display: inline-block;
}

.verde > span {
    background-color: green;
    color: #fff;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
}

.azul{
    width: 240px;
    display: inline-block;
}

.azul > span {
    background-color: blue;
    color: #fff;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
}

.quadrado {
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 0);
}