
h1 {
    text-align: center;
    color: green;
}

body {
    background-color: black;
}

img {
    width: 280px;
    height: 280px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

input {
    width: 200px;
    display: block;
    margin: auto;

}