* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: beige;
    text-align: center;
    padding: 30px;
}

main {
    
    display: grid;
    grid-template-columns: 120px 120px 120px;
    gap: 3px;
}

.tabuleiro {
    margin: auto;
    width: 360px;
    height: 360px;
}
.celula {
    background-color: rgb(235, 180, 148);
    border: 0.5px solid #000000;
    width: 120px;
    height: 120px;
    font-size: 60pt;
    text-align: center;
}