* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --laranja: #f79d2a;
  --violeta: #d669a8;
  --azul: #344ceb;
  --verde: #4dd694;
}

.btn {
  padding: 0.4rem;
  font-weight: bold;
  border: none;
  color: white;
  transition: box-shadow 1.4s ease;
}

.btn:hover {
  box-shadow: inset 120px 0 0 #0000005c;
}

.btnCadastar {
  background-color: var(--azul);
}

.btnEditar {
  background-color: var(--laranja);
  color: #000;
}

.btnExcluir {
  background-color: var(--violeta);
}
