* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --laranja: #f79d2a;
  --violeta: #d669a8;
  --azul: #344ceb;
  --verde: #4dd694;
}

.btn {
  width: 100%;
  padding: 0.4rem;
  font-weight: bold;
  border: none;
  color: white;
  transition: box-shadow 1.4s ease;
}

.btn:hover {
  box-shadow: inset 0 -30px  10px #0000005c;
  
}

.btnCadastar {
  background-color: var(--azul);
  width: 150px;
}
.btnCancelar {
  background-color: var(--laranja);
  width: 150px;
}

.btnEditar {
  background-color: var(--laranja);
  
}

.btnExcluir {
  background-color: var(--violeta);
  margin-top: 3px;
}
