* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --laranja: #f79d2a;
  --violeta: #d669a8;
  --azul: #344ceb;
  --verde: #4dd694;
}

body {
  display: grid;
  grid-template-rows: 10vh 85vh 5vh;
}

header {
  background-color: var(--laranja);
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 90%;
}

header h1 {
  /* cursor: copy; */
  font-size: 2rem;
  user-select: none;
  padding: 3px 15px;
  border-radius: 10px;
  transition: box-shadow 1s ease;
  min-width: 20%;
  /* color: var(--azul); */
}

header h1:hover {
  /* color: var(--laranja); */
  box-shadow: inset -100svw 0 0 var(--azul);
}

main {
  min-width: 90%;
  background-color: #eee;
  padding: 15px;
  box-shadow: 0 0 10px #000000a5;
  margin: 10px auto;
}

.controls {
  padding: 20px;
  /* border: solid red 1px; */
}

table {
    width: 100%;
    margin: auto;
}

thead {
  background-color: var(--violeta);
}

td {
  text-align: center;
  padding: 2px 5px;
}

#acoes {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: var(--laranja);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}

footer h5 {
  text-align: center;
}
