* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --laranja: #f79d2a;
  --violeta: #d669a8;
  --azul: #344ceb;
  --verde: #4dd694;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: 10vh 85vh 5vh;
}

.ocultar {
  display: none;
}

.modal-header {
  background-color: var(--laranja);
  height: 30px;
  line-height: 30px;
}

.titulo {
  display: flex;
  justify-content: space-between;
}

.titulo h3 {
  width: 100%;
  text-align: center;
}

.titulo span {
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 30px;
  background-color: #eee;
}
.titulo span:hover {
  background-color: red;
  color: #eee;
}

header {
  background-color: var(--laranja);
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 90%;
}

header h1 {
  /* cursor: copy; */
  font-size: 2rem;
  user-select: none;
  padding: 3px 15px;
  border-radius: 10px;
  transition: box-shadow 1s ease;
  min-width: 20%;
  transition: color 0.7s ease;
}

header h1:hover {
  /* color: var(--laranja); */
  box-shadow: inset -100svw 0 0 var(--azul);
  color: white;
}

.modal {
  background-color: #00000067;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.form {
  max-width: 65%;
  margin: 15vh auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #000000;
}

form input {
  margin-bottom: 0.5em;
  padding: 0.3em;
}

main {
  min-width: 90%;
  background-color: #eee;
  padding: 15px;
  box-shadow: 0 0 10px #000000a5;
  margin: 10px auto;
  overflow: hidden;
}

.controls {
  padding: 20px;
  /* border: solid red 1px; */
}
/* .container {
  overflow-y: auto;
  height: 310px;
} */
.container {
  overflow-y: auto;
  height: 100%;
}
.container thead th {
  position: sticky;
  top: 0;
}
table {
  /* border-top: 3px; */
  /* border-collapse: collapse; */
  width: 100%;
}
th {
  background: #abdd93;
}

th,
td {
  padding: 8px 15px;
  border: 1px solid #529432;
}

td {
  text-align: center;
  padding: 2px 5px;
}

thead {
  background-color: var(--azul);
  /* color: white; */
}

tr:nth-child(even) {
  background-color: var(--verde);
}

footer {
  background-color: var(--laranja);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}

footer h5 {
  text-align: center;
}
