*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    p
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10vh;
    background-color: red;
    padding: 5px;

}

nav {
    background-color: brown;
}

nav a {
    background-color: aliceblue;
    text-decoration: none;
    padding: 8px;
    margin: 10px 15px;
    border-radius: 5px;
}

main {
    width: 100%;
    height: 85vh;
    background-color: black;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: aqua;
}