* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.stage {
    text-align: center;
    margin: auto;
    width: 350px;
    height: 350px;
}

.linha {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    
}

.square {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}

.o {

}

.x:after {
    content: "🛡️";
    font-size: 50px;
    line-height: 100px;
    position: relative;
    
} 

.o:after {
    content: "✂️";
    font-size: 50px;
    line-height: 100px;
    position: relative;
    
} 