* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #a3a31d;
  --cor2: #5bb1f0;
  --cor3: #f0f043;
  --cor4: #f02f2b;
  --cor5: #a3282681;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--cor2);
}

header,
footer {
  text-align: center;
  background-color: var(--cor3);
  padding: 4px 0;
  user-select: none;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--cor5);
  min-width: 90%;
  height: 90%;
  margin: auto;
}

form {
  background-color: beige;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.form-header:nth-child() {
  width: 100%;
  background-color: red;
  text-align: center;
}
form div label {
  font-weight: bold;
}

form input {
  padding: 5px;
  margin-bottom: 5px;
}

.fields {
  display: grid;
  grid-template-columns: ;
}

#buttonsArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.fields,
#buttonsArea {
  margin: 15px;
  padding: 20px;
}
