* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 10vh 85vh 5vh;
}

header {
  background-color: rgb(255, 166, 0);
  text-align: center;
  padding: 15px;

}

.controle {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  
}

main {
    background-color: #eee;
    
}

.tabela {
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: 0 auto 0 auto;
    /* background-color: rgba(150, 149, 151, 0.205); */
}


table {
    /* background-color: #eee; */
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: .3em;
}

thead {
    background-color: rgba(0, 0, 255, 0.541);
    color: #ffffff;
}

tr {
    background-color: rgba(255, 166, 0, 0.705);
}

.acoes {
    display: flex;
    justify-content: space-around;
}

.btn {
    text-decoration: none;
    
    
}

.btnCadastrar {
    background-color: blue;
    color: #ffffff;
    font-weight: bold;
}

.btnEditar {
    background-color: green;
    color: #fffefe;
    font-weight: bold;
}

.btnExcluir {
    background-color: red;
    color: #fffefe;
    font-weight: bold;
}

.modal {
    position: absolute;
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.836); */
    width: 100%;
    height: 100vh;
}

form {
    
    background-color: rgb(0, 0, 0);   
    border-radius: 15px;
    margin: 30vh auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    overflow: hidden;
}

.form-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px 5px 25px;
    background-color: rgba(255, 166, 0, 0.705);
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 15px auto 5px auto;
    width: 60%;
}

form input:focus {
    box-shadow: 0 0 5px 3px white;
}

footer {
    background-color: rgb(255, 166, 0);
    text-align: center;
    padding: 8px 0;
}

.oculto {
    display: none;
}
