@charset 'utf-8';
@font-face {
    font-family: 'idroid' ;
    src: url('./fontes/idroid.otf');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(0deg, #1A5C38, #35BF73);
    margin: 0px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.555);
    width: 100%;
}

li {
    display: inline-block;
    color: #fff;
    padding: 14px;
    margin-right: 10px;
}

li:hover {
    background-color: #1A5C38 ;

    color: #fff;
    transition: 900ms;
}

h1 {
    padding: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase ;
}

main {
    background-color: #fff;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 15px;
    /* padding: 20px; */
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.068);
}

.container {
    padding: 20px;
}

h1#principal {
    font-family: 'idroid';
    color: #1A5C38;

}

p {
    text-indent: 40px;
    text-align: justify;
    margin: 0px 0px 5px 0px;
}

h2 {
    font-family: 'idroid';
    color: #1A5C38;
    background-color: #35bf737a;
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 12px;
}

h5 {
    text-align: center;
    color: #fff;
    max-width: 600px;
    display: block;
    margin: auto;
    padding: 0px 40px 0px 40px;
    
}

.ilustracao {
    text-align: center;
    margin: 25px 0px;
}

img {
    width: 100%;
}

img#bugdroid {
    width: 50%;
}

a {
    text-decoration: none;
    color: #35BF73;
    font-weight: bold;
}

a:hover {
    color: #1A5C38;
}

a:visited {
    color: #fff;
}

a::after {
    content: ' 🔗';
}

.linknormal::after {
    content: none;
}
.refvideo {
    background-color: #1A5C38;
    padding: 20px;
}
.video {
        
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    
    
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}


.banner {
    margin: 15px;
    background-color: #43b67785;
    border-radius: 10px;
    

}

h3 {
    background-color: #1A5C38;
    color: #fff;
    text-indent: 12px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}



article {
    padding: 20px;
}

.versoes {
    padding: 0;
    color: #000;
    display: block;
}

.versoes:hover{
    background-color: transparent;
    color: #000;
}

.versoes::before {
    content: '✔ ';
}

.lista {
    margin: auto;
    display: block;
    max-width: 100%;
    min-width: 250px;

}

div#lista {
    
  
    
    text-align: left;
    padding: 10px;
    margin-right: auto;
       
}

ul {
    columns: 2;
}

footer {
    background-color: #1A5C38;
    padding: 1px;
}

.rodape {
    text-align: center;
    color: #fff;
    margin: 0;
    
}