* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #136351;
    --cor2: #71E8CC;
    --cor3: #2BE3B8;
    --cor4: #5A6764;
    --cor5: #21B08F;
}

body {
    background-color: var(--cor1);
}

.info {
    background-color: var(--cor2);
    margin-bottom: 15px;
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    margin: 10px auto 15px;
    padding: 10px 40px;
    font-size: 1.5em;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
   user-select: none;
}

#tempo {
    text-align: right;
   
}


.board {
    width: 100%;
    max-width: 550px;
    height: 550px;
    /* background-color: var(--cor2); */
    margin: auto;
    border-radius: 10px;
    /* padding: 8px; */
    display: grid;
    align-content: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    
}

.celula {
    background-color: var(--cor4);
    user-select: none;
    cursor: pointer;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}

.celula:hover {
    box-shadow: 0 0 3px 3px #21B08F ;
}