* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: rgba(11, 2, 107, 0.728);
    width: 80%;
    height: 300px;
    margin: 50px auto;
    padding: 25px;
    color: white;
    display: flex;
}

form {
    width: 40%;
    padding: 10px;

}

form input {
    width: 100%;
    margin-bottom: 3px;
    padding: 3px;
}


.listagem {
    width: 60%;
    background-color: rgb(1, 1, 1);
    padding: 10px;
    display: flex;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    
}

ul {
    list-style-type: none;
    
}

li {
    margin: 8px;
    padding: 3px;
    /* background-color: brown; */
    border-radius: 5px;
    
    
}

li:hover {
    box-shadow: 0 0 12px #fff;
}

