input {
    width: 200px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 5px;
       
}

#login {
    margin: auto;
    background-color: rgb(134, 134, 201);
    padding: 30px;
    width: 300px;
    text-align: center;
}