.btn {
  border-style: none;
  height: 40px;
  padding: 6px 12px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.8s ease;
}

.btn:hover {
  box-shadow: inset 200px 0 0 #0000004b;
}

.btnCadastrar, 
.btnSalvar {
  background-color: #1fb6ff;
}
.btnCancelar {
  background-color: #efe829;
  color: black;
}
.btnEditar {
  background-color: #13ce66;
}
.btnExcluir {
  background-color: #ff4949;
}
